#contact {
	text-align: center;
} 

#header {
	text-align: center;
	font-family: impact;
	font-size: 20pt;
}
#links {
	text-align: left;
}
a  {
	text-decoration: none;
	}
a:link {
	text-decoration: none;
	}
a:visited {
	text-decoration: none;
	color: purple;
	}
a:hover {
	text-decoration: none;
	font-weight: bold; 
	}
a:active {
	text-decoration: none;
	}